@model IEnumerable<Model.STLStoreModelView>
@*@model List<Core.Entities.STLFile>*@

@{
    ViewData["Title"] = "STL Store";
}

<h1>Stores Index</h1>

@{
    var i = 0;
    foreach (var item in Model)
    {
        if (i % 4 == 0)
        {
           @: <div class="row">
        }

        <div class="col-3">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> @item.StoreName</h5>
                    <p class="card-text">desc</p>
                    <a href="/STLFiles/Files?StoreId=@item.StoreId" class="btn btn-primary">Explore</a>
                </div>

            </div>
        </div>
        i++;

        if (i % 4 == 0)
        {
           @: </div>
        }


    }
}






