@page "/"



<PageTitle>Sylvain Dollinger Portfolio</PageTitle>

<h4>Ce site est réalisé avec Blazor</h4>

@*<p role="status">Message From GRPC : @messageFromGRPC</p>*@
@*<Counter IncrementBy="5"></Counter>*@


@code {
    //private string messageFromGRPC;

    protected override async Task OnInitializedAsync()
    {
      /*  // The port number must match the port of the gRPC server.
        //https://localhost:7076;http://localhost:5277
        using var channel = GrpcChannel.ForAddress("https://localhost:7076");
        var client = new Greeter.GreeterClient(channel);
        var reply = await client.SayHelloAsync(
                      new HelloRequest { Name = "GreeterClient" });
      
        messageFromGRPC = reply.Message;*/
    }
}
